div.user {
  table {
    border-collapse: collapse;
  }

  table, th, td {
    /*border: 1px solid black;*/
    padding: 8px;
  }

  th {
    text-align: left;
  }

  tr:nth-of-type(even) {
    background-color: #eeeeee;
  }
}
