$base-color: #ff8c00;
$base-color-light: #FCCC89;

div.user {
  width: 100%;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  tr {
    border-bottom: 1px solid #000;
    &:not(:first-child):hover {
      background-color: #dddddd;
    }
    &:not(:first-child) {
      cursor: pointer;
      cursor: hand;
    }
  }

  th, td {
    padding-left: 1em;
    padding-right: 1em;
    text-align: left;
    vertical-align: middle;
    height: 3em;
  }

  span.qualification {
    padding: 5px 10px;
    margin-right: 5px;
    text-decoration: none;
    display: inline-block;
    background-color: #ffaaaa;
    border-radius: 8px;
  }
}
