<div class="user">
  <h2>Users</h2>
  <table>
    <tr>
      <th>id</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Qualifications</th>
    </tr>
    <tr *ngFor="let user of users" routerLink="/user/{{user.id}}">
      <td>{{user.id}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>
        <app-qualification-tag *ngFor="let q of user.qualifications" [qualification]="q" smallTags="true"></app-qualification-tag>
      </td>
    </tr>
  </table>
</div>
