div#userDetails {
  margin-top:1em;

  th, td {
    padding-right: 2em;
    text-align: left;
    vertical-align: middle;
    height: 1.8em;
  }
}
span.userId {
  color: #333;
}

div#userQualifications {
  width: 100%;
  overflow: hidden;
  position: relative;
}

div.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1002;
  background-color: rgba(255, 255, 255, 0.5);

  div.spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
}

div.qualificationRow {
  padding-top: .25em;
  padding-bottom: .25em;

  label input {
    margin-left: 1em;
    margin-right: 1em;
  }
}
span.qualification {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #ffaaaa;
  border-radius: 8px;
}
