<div *ngIf="user">
  <h3>{{user.name}} Details</h3>
  <div><span>id: </span>{{user.id}}</div>
  <div><span>name: </span>{{user.name}}</div>
  <div><span>wiki name: </span>{{user.wikiName}}</div>
  <div><span>phone: </span>{{user.phoneNumber}}</div>
  <div><span>locked: </span>{{user.locked}}</div>
  <div><span>locked reason: </span>{{user.lockedReason}}</div>
  <div><span>card ID: </span>{{user.cardId}}</div>
  <div><span>qualifications: </span>
    <span *ngFor="let qualification of user.qualifications">{{qualification.name}}</span>
  </div>
</div>
