div#userDetails {
  margin-top:1em;

  th, td {
    padding-right: 2em;
    text-align: left;
    vertical-align: middle;
    height: 1.8em;
  }
}
span.userId {
  color: #333;
}

div#userQualifications {
  width: 100%;
  overflow: hidden;
  position: relative;
}

div.qualificationRow {
  padding-top: .25em;
  padding-bottom: .25em;

  label input {
    margin-left: 1em;
    margin-right: 1em;
  }
}
span.qualification {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  background-color: #4603AD;
  color: #eeeeee;
  border-radius: 8px;
}
