<div id="user" *ngIf="user">
  <h2><span class="userId">#{{user.id}}</span> {{user.firstName}} {{user.lastName}}</h2>

  <div id="navBar">
    <button routerLink="/user/{{user.id}}/edit">Edit</button>
    <button routerLink="/user/{{user.id}}/setCard">Set Card</button>
    <button (click)="deleteUser()" class="deleteBtn">Delete</button>
  </div>
  <div id="userDetails">
    <table>
      <tr>
        <td><span>first name: </span></td>
        <td>{{user.firstName}}</td>
      </tr>
      <tr>
        <td><span>last name: </span></td>
        <td>{{user.lastName}}</td>
      </tr>
      <tr>
        <td><span>wiki name: </span></td>
        <td>{{user.wikiName}}</td>
      </tr>
      <tr>
        <td><span>phone: </span></td>
        <td>{{user.phoneNumber}}</td>
      </tr>
      <tr>
        <td><span>locked: </span></td>
        <td>{{user.locked}}</td>
      </tr>
      <tr>
        <td><span>locked reason: </span></td>
        <td>{{user.lockedReason}}</td>
      </tr>
      <tr>
        <td><span>card ID: </span></td>
        <td>{{user.cardId}}</td>
      </tr>
      <tr>
        <td><span>qualifications: </span></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div id="userQualifications">
    <div class="qualificationList">
      <div class="qualificationRow" *ngFor="let qualification of qualifications">
        <label>
          <input type="checkbox" [(ngModel)]="qualificationsForUser[qualification.id]" (ngModelChange)="toggleQualification(qualification.id, $event)">
          <app-qualification-tag [qualification]="qualification"></app-qualification-tag>
        </label>
        <br>
      </div>
    </div>
  </div>
</div>
