$base-color: #FA9112;
$base-color-light: #FCCC89;

div#login-overlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}
div#login-content {
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;

  h2 {
    padding-top: 1em;
  }
}
label {
  display: block;
  margin: 1em 0;
  color: #333333;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  margin-top: .5em;
  width: 100%;
}
div#errors {
  margin-top: 1em;
  color: red;
}
