<h2>New User</h2>
<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      First Name:<br>
      <input type="text" formControlName="firstName">
    </label>
    <label>
      Last Name:<br>
      <input type="text" formControlName="lastName">
    </label>
    <label>
      Wiki Name:<br>
      <input type="text" formControlName="wikiName">
    </label>
    <label>
      Phone Nr.:<br>
      <input type="tel" formControlName="phoneNumber">
    </label>
    <button type="submit" [disabled]="!form.valid">Submit</button>
  </form>
  <div id="errors">{{error}}</div>
</div>
