<div class="tool">
  <nav class="subNav">
    <a routerLink="/tool/create">New Tool</a>
  </nav>

  <h2>Tools</h2>

  <table mat-table [dataSource]="dataSource" matSort matSortDisableClear matSortActive="id" matSortDirection="asc">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>id</th>
      <td mat-cell *matCellDef="let tool">{{tool.id}}</td>
    </ng-container>
    <ng-container matColumnDef="deviceId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>device id</th>
      <td mat-cell *matCellDef="let tool">{{tool.deviceId}}</td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let tool">{{tool.name}}</td>
    </ng-container>
    <ng-container matColumnDef="pin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pin</th>
      <td mat-cell *matCellDef="let tool">{{tool.pin}}</td>
    </ng-container>
    <ng-container matColumnDef="toolType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let tool">{{tool.toolType}}</td>
    </ng-container>
    <ng-container matColumnDef="qualifications">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Qualifications</th>
      <td mat-cell *matCellDef="let tool">
        <app-qualification-tag *ngFor="let q of tool.qualifications" [qualification]="q" smallTags="true"></app-qualification-tag>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let tool; columns: displayedColumns" routerLink="/tool/{{tool.id}}"></tr>
  </table>
</div>
