/* You can add global styles to this file, and also import other style files */
/* Global Styles */

$base-color: #FA9112;
$base-color-light: #FCCC89;
$button-color: #eeeeee;
$button-color-hover: #f3f3f3;

h1 {
  color: $base-color;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}
h2, h3 {
  color: $base-color;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 1em;
}
body {
  width:100%;
}
body, input[text], button {
  color: #333;
  font-family: "Helvetica Neue", Cambria, Georgia, sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-size: 1em;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: $button-color;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: $button-color-hover;
}
button:disabled {
  background-color: $button-color;
  color: #aaa;
  cursor: auto;
}

nav {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Navigation link styles */
nav a {
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: $button-color;
  border-radius: 8px;
}
nav a.logoutBtn {
  margin-left: auto;
  justify-self: flex-end;
}
nav a:visited, a:link {
  color: $base-color;
}
nav a:hover {
  color: $base-color;
  background-color: $button-color-hover;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  margin:0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div#content {
  /*width:100%;*/
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}


/* fancy spinner */
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: $base-color;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
