/* You can add global styles to this file, and also import other style files */
/* Global Styles */

$base-color: #FA9112;
$base-color-light: #FCCC89;
$button-color: #eeeeee;
$button-color-hover: #f3f3f3;

h1 {
  color: $base-color;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
}
h2, h3 {
  color: $base-color;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  margin-bottom: 1em;
}
body {
  width:100%;
}
body, input[text], button {
  color: #333;
  font-family: "Helvetica Neue", Cambria, Georgia, sans-serif;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-size: 1em;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  background-color: $button-color;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: $button-color-hover;
}
button:disabled {
  background-color: $button-color;
  color: #aaa;
  cursor: auto;
}

nav {
  margin-top: 1em;
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Navigation link styles */
nav a {
  padding: 10px 15px;
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: $button-color;
  border-radius: 8px;
}
nav a.logoutBtn {
  margin-left: auto;
  justify-self: flex-end;
}
nav a:visited, a:link {
  color: $base-color;
}
nav a:hover {
  color: $base-color;
  background-color: $button-color-hover;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  margin:0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

div#content {
  /*width:100%;*/
  max-width: 900px;
  margin: 0 auto;
  padding: 1em;
}
