$base-color: #FA9112;
$base-color-light: #FCCC89;

div#userCard {
  margin-top: 1em;
}
label {
  display: block;
  margin: 1em 0;
  color: #333333;
  font-weight: bold;
}
textarea {
  height: 4em;
  font-size: 1em;
  padding-left: .4em;
  margin-top: .5em;
  width: 100%;
}
div#userCard button {
  margin-right: 10px;
}
