<div id="user" *ngIf="user">
  <h2><span class="userId">#{{user.id}}</span> {{user.firstName}} {{user.lastName}}</h2>
  <div id="userCard">
    <zxing-scanner [formats]="['QR_CODE']" *ngIf="qrCodeReading" (scanSuccess)="onQrSuccess($event)"></zxing-scanner>
    <div id="btnBar" *ngIf="!qrCodeReading">
      <button (click)="qrCodeReader()">QR Code</button>
      <button (click)="deleteCard()" class="deleteBtn">Delete Card</button>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label>
        CardId and cardSecret:<br>
        <textarea name="Text1" rows="2" formControlName="cardIdAndSecret"></textarea>
      </label>
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
  <div id="errors">{{error}}</div>
</div>
